
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right,lightblue,rgb(215, 161, 247),rgb(152, 118, 245));
    height: 100%;
    width: 100%;
}

header {
    border: 2px solid black;
    /* background-color: cadetblue; */
    background: linear-gradient(to right,rgb(202, 116, 252),rgb(146, 107, 252));
    padding: 1%;
    color: rgb(251, 221, 221);
    display: flex;
    align-items: center;
    /* height: 10px; */
}

img {
    width: 50px;
    height: 50px;
    /* margin: 0 auto; */
}

#headT{
    margin-left: 35%;
}

.input-start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

#i-1 {
    border: 2px solid black;
    padding: 0.25em;
    margin: 3px;
    border-radius: 5px;
}

#b-1 {
    padding: 0.25em;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 9px;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 1.3%;
}

h3 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

h5 {
    font-size: 1.8em;
}

.block-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 4%;
    margin-bottom: 3%; */
    margin: 3%;
}

.red-b1 {
    border: 2px solid black;
    border-radius: 1em;
    color: black;
    background-color: red;
    padding: 6px;
    margin: 7px;
    width: 7%;
    cursor: pointer;
}

.yellow-b2 {
    border: 2px solid black;
    border-radius: 1em;
    color: black;
    background-color: yellow;
    padding: 6px;
    margin: 7px;
    width: 7%;
    cursor: pointer;
}

.green-b3 {
    border: 2px solid black;
    border-radius: 1em;
    color: black;
    background-color: rgb(44, 197, 44);
    padding: 6px;
    margin: 7px;
    width: 7%;
    cursor: pointer;
}

#reset-all {
    align-items: center;
    background-color: rgba(95, 158, 160, 0.256);
    color: rgb(7, 1, 1);
    cursor: pointer;
    padding: 6px;
    width: 5%;
    border: 2px solid black;
    border-radius: 1em;
}

footer {
    background: linear-gradient(to right,rgb(202, 116, 252),rgb(138, 97, 252));
    /* border: 2px solid black; */
    /* bottom: -8em; */
    /* position: relative; */
    /* padding: 1%; */
    /* width: 97.7vw; */
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 55px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width : 600px) {
    .red-b1 {
        padding: 6px;
        margin: 7px;
        width: 27%;
    }

    .yellow-b2 {

        padding: 6px;
        margin: 7px; 
        width: 27%;

    }

    .green-b3 {
        padding: 6px;
        margin: 7px;
        width: 27%;

    }

    #reset-all {
        padding: 6px;
        margin: 7px;
        width: 27%;
    }

    #headT {
        margin-left: 12%;
        font-size: 0.8em;
    }

    footer{
        position: inherit;
    }
}
@media (max-width: 400px) {
    .red-b1, .yellow-b2, .green-b3, #reset-all {
        width: 40%;
        padding: 4px;
        margin: 5px;
    }

    #headT {
        margin-left: 10%;
        font-size: 0.6em;
    }

    

}